* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    color: #fff;
    font-family: sans-serif;
}

/* Common styles */

.flex {
    display: flex;
}

/* Header Styles */

#header-container {
    background-color: #3b1c67;
    height: 6rem;
}

h1 {
    text-transform: uppercase;
    margin-left: 2.25rem;
    font-weight: 300;
    font-size: 1.5rem;
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

/* Main styles */

main {
    margin-top: 4.125rem;
}

/* Contact card styles */

#contacts {
    width: 89%;
    margin: auto;
    flex-wrap: wrap;
}

.image-container {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.image-container > img {
    height: 100%;
    width: 100%;
}

.contact-container {
    padding-bottom: 0.875rem;
    padding-left: 0.875rem;
    flex: 1 1 33.3333%;
}

/* .contact-container:not(:nth-child(3n)) {
    padding: 0 0.875rem 0.875rem 0;
} */

.contact {
    background-color: #4c67b4;
    padding: 1rem;
    align-items: center;
    gap: 1.375rem;
    flex: 1 0 100%;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0.375rem;
    font-weight: 500;
}

h5 {
    font-size: 0.9rem;
    font-weight: 300;
}
