/* Resets */

* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    max-width: 100%;
}

/* 
    Colors 

    Header Background - #fff
    Header Font - #000

    Main Content Background - #f5f5f5
    Content Font - #222222

    Footer Background - #222222
    Footer font - #fff

*/

/* General Styling */

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 68%;
    margin: auto;
}

.flex {
    display: flex;
}



/* Header Styling */

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 3px 5px #D9D9D9;
}

.header-container {
    /* height: 3.875rem; */
    padding: 1.2rem 0;
    justify-content: space-between;
}

h1 {
    font-size: 1.2rem;
}

.user-image {
    height: 1.625rem;
    border-radius: 50%;
    overflow: hidden;
}

.user-image > img {
    height: 100%;
}

.user-container {
    align-items: center;
    column-gap: .5rem;
}

.username {
    font-size: .7rem;
}

/* Main Content */

main {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    background-color: #f5f5f5;
}

/* Video Styles */
#movie-container {
    flex: 1 1 79%;
    padding-right: 1.625rem;
}

video {
    width: 100%;
    max-height: 23.5rem;
    object-fit: cover;
    /* height: 24.125rem; */
}

.video-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0 .4rem;
}

.video-description {
    font-size: .78rem;
    font-weight: 300;
    line-height: 1.3rem;
    letter-spacing: .01rem;
    margin-bottom: 1.5rem;
}

/* Upcoming Project Styles */

#posters-container {
    flex: 1 1 23.5%;
}

.poster {
    margin-top: .75rem;
}

.poster:first-child {
    margin-top: .5rem;
}

/* Comment Styles */

#comment-title {
    margin-top: 1.5rem;
    margin-bottom: 1.3125rem;
}

/* Comment Container Styles */

#comments {
    flex-direction: column;
    gap: 1.5rem;
}

.comment {
    flex-direction: column;
    gap: .25rem;
}

.comment > h4 {
    font-size: .8rem;
}

.comment-container {
    gap: .875rem;
}

.comment-container .user-image {
    flex: 1 0 2.75rem;
    height: 2.75rem;
}

.comment > p {
    font-size: .76rem;
    color: #222;
    font-weight: 300;
}

#movie-container + hr {
    display: none;
}

/* Footer Styles */

footer {
    background-color: #222;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 1.75rem 0 1.5rem;
}

footer > .container.flex {
    justify-content: space-between;
    align-items: center;
}

#copyright {
    align-items: center;
    gap: .5rem;
}

#copyright-text {
    font-size: .8rem;
}

#sticky-bar {
    height: 1.75rem;
    background-color: #fff;
    position: sticky;
    bottom: 0;
}

#chat-icon {
    position: fixed;
    bottom: 3.5rem;
    right: 2.125rem;
    justify-content: end;
    width: 4rem;
    height: 4rem;
}


/* Responsive Design */

@media (max-width: 767px) {

    /* Header Styles */

    .container {
        width: 90%;
    }

    .username {
        display: none;
    }

    .user-image {
        height: 2rem;
    }

    /* Main content Styles */

    main > .container.flex {
        flex-wrap: wrap;
    }

    #movie-container {
        flex: 1 1 100%;
        padding-right: 0;
    }

    /* Comment Styles */
    #comment-title {
        margin-top: 1rem;
        margin-bottom: 1.375rem;
    }

    #comments {
        gap: 1rem;
    }

    #posters-container {
        flex: 1 1 100%;
    }

    #movie-container + hr {
        width: 100%;
        display: block;
        margin: 1.375rem 0;
    }

    /* Footer Styling */

    #chat-icon {
        position: fixed;
        bottom: 1.5rem;
        right: 1rem;
    }

    #sticky-bar {
        display: none;
    }


}



