
/* 

    Colors

    Body Background: #2a2b30
    Menu Background: #eee
    Image Background: #24252a
    Size Background: #87b180
    Product Title: #fff
    Product Description and price: #a5a5a5
    Footer Text: #eee

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: absolute; */
    /* outline: 1px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2a2b30;
}

image {
    /* To prevent image overflowing the container */
    max-width: 100%;
}

header ul,
footer ul {
    list-style: none;
    padding: 0;
}

/* Header */

header {
    margin-top: 4.9rem;
}

#header-container {
    width: 83.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 4.3rem;
}

#connector {
    height: 66px;
    width: 66px;
    position: absolute;
    left: -44px;

    /* Hide the connector till the round is hovered */
    display: none;
}

#connector:hover {
    display: block;
}

#connector:hover~#menu {
    display: block;
}

#round {
    width: 66px;
    height: 66px;
    background-color: #D8D8D8;
    border-radius: 50%;

    position: absolute;
    left: -44px;
    top: -16px;
}

#round:hover~div {
    /* Make the connector and menu visible so that they can be hovered */
    display: block;
}

div:has(#menu) {
    position: relative;
}

#menu {
    background-color: #eee;
    width: 16.25rem;
    height: 11.25rem;
    position: absolute;
    top: 66px;
    left: -240px;
    z-index: 1;
    display: none;
}

#menu:hover {
    display: block;
}

nav li {
    width: 100%;
}

nav ul {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.025rem;
    display: inline-block;
    padding: 0.6rem 1.625rem;
    width: 100%;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Main */

main {
    width: 83.5%;
    margin: auto;
}

div.row {
    margin-top: 3.25rem;
}

.product {
    display: inline-block;
}

.product:not(:last-child) {
    margin: 0 2.8rem 0rem 0;
}

div.star-icon {
    color: #87b180;
    font-size: 1.3rem;
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 20px;
}

.star-icon>i:hover {
    font-weight: 900;
}

.image-container {
    background-color: #24252a;
    width: 20.25rem;
    height: 25.7rem;

    margin-bottom: 1rem;

    position: relative;
}

div.image {
    height: 100%;
}

div.image>img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.image-container img {
    max-width: 15rem;
    max-height: 15rem;
    display: block;
    margin: auto;
}

div.size {
    color: #111;
    background-color: #87b180;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: -28px;
}

div.size>span {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

.price {
    color: #a5a5a5;
    display: block;
    font-size: 1.3rem;
    margin-bottom: .75rem;
}

.description>button {
    background: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #a5a5a5;
    color: #a5a5a5;
    padding: 0.7rem 1.1rem;
}

.description>button:hover {
    color: #2a2b30;
    background-color: #969697;
}


footer {
    height: 6.75rem;
    background-color: #000;
    color: #fff;
    margin-top: 4rem;
    position: sticky;
    bottom: 0;
}

footer ul {
    margin: 0 34.375rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer ul>li {
    display: inline-block;
    color: #eee;
    font-size: 1.45rem;
    font-weight: 700;
}

footer ul>li:not(:last-child) {
    margin-right: 3.8rem;
}

