* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* Image will either fit the container or will be in true width if image is smaller! */
    max-width: 100%;
}

body {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    width: 80%;
    margin: auto;
}

/* Common */

.flex {
    display: flex;
}

.green {
    color: #b8e985;
}

.blue {
    color: #4b8fe2;
}

.bold {
    font-weight: bold;
}

/* Header */

header {
    margin-top: 4.25rem;
    margin-bottom: 10rem;
    flex-flow: column wrap;
}

header>div.about {
    align-self: center;
    text-align: center;
}

h1 {
    font-size: 10.8rem;
    font-weight: 300;
}

header>div.email {
    margin-bottom: 7.65rem;
    font-size: 1.8rem;
    font-weight: 700;
    align-self: end;
}

header>div>p.description {
    font-size: 3.3rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #cecece;
    margin-top: 0.7rem;
}

/* Main Content */

main>section.container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* row-gap: 1.25rem; */
    gap: 2.125rem;
    margin-bottom: 9.5rem;
}

section.container > div {
    flex-basis: 31.6%;
}

section>h2 {
    font-size: 3.3rem;
    color: #cecece;
    text-align: center;
    margin-bottom: 6rem;
}

div.logo-container {
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    column-gap: 7rem;
}


/* Footer */

footer {
    margin-top: 17.625rem;
    margin-bottom: 6.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div.icons {
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1.3rem;
    margin-bottom: 5.625rem;
}

div.icons>div {
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

div.line {
    display: inline-block;
    border-bottom: 1px solid #cecece;
}

div.line:first-child {
    width: 2rem;
}

div.line:last-child {
    width: 14rem;
}

footer>div:first-child {
    /* gap: 1.5rem; */
    margin-bottom: 6.875rem;
}

div.lines {
    gap: 2.25rem;
}

footer>p {
    font-size: 1.5rem;
}


@media (max-width: 800px) {

    body {
        width: 90%;
    }

    h1 {
        font-size: 5rem;
    }

    header > div > p.description {
        font-size: 2.3rem;
        margin-top: 2rem;
    }

    header {
        margin-top: 22rem;
        margin-bottom: 4rem;
        flex-direction: column-reverse;
    }

    header>div.email {
        margin-bottom: 6.25rem;
        font-size: 1.5rem;
        font-weight: 700;
        align-self: center;
    }

    p.description {
        margin-top: 1rem;
        margin-bottom: 0.8rem;
    }

    .container {
        flex-direction: column;
    }

    main>section.container>div {
        width: 100%;
    }

    div.logo-container {
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 50px;
        row-gap: 50px;
    }

    .logo-container>div {
        flex: 0 0 30%;
        /* width: 40%; */
    }

    main>section.container {
        margin-bottom: 7.5rem;
    }

    div.logo-container {
        gap: 7rem;
    }

    footer {
        margin-top: 16rem;
    }

    .icons > div > i {
        font-size: 3rem;
    }

    div.icons>div {
        width: 5rem;
        height: 5rem;
        border: 1px solid white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    footer>div.icons {
        column-gap: 2rem;
    }

    footer>p {
        font-size: 2.5rem;
    }
}