*{
    /* Many components have margin by default, so to remove it */
    margin: 0;
    /* Some elements like li will have padding */
    padding: 0;
    /* To make all elements adjust its size along with border and padding to fix the size of the element */
    box-sizing: border-box;
}

img{
    /* If image is smaller than the container then it should not be pixelated or big images should not overflow the container
        hence we use this to prevent the both. Either fill the container or show its 100% size.
    */
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size: 46px;
}


header div:first-child {
    background-color: #42133e;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

header div:last-child {
    height: 100vh;
    background: url("../images/cover.png") no-repeat;
    background-size: 100% 100%;
}

header img{
    height: 100%;
}

main{
    margin-top: 5.625rem;
}

.row {
    width: 87%;
    margin: auto;
}

.row:first-child {
    margin-bottom: 5.375rem;
}

.image-container > img {
    width: 100%;
}

article {
    display: inline-block;
    width: 32%;
}

div.row article:not(article:last-child) {
    margin-right: 1.5rem;
}

h3 {
    font-weight: 300;
    font-size: 2.25rem;
    margin-top: 1.125rem;
}

h4 {
    font-size: 1.125rem;
    margin: 0.625rem 0 1.875rem;
}

.content {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
    width: 28.75rem;
    letter-spacing: 0.05rem;
}

article > button {
    padding: 0.75rem 1.75rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    background: #7a1655;
    border: none;
    color: #efe2e9;
}

section {
    margin-top: 8.25rem;
}

section h2 {
    font-size: 4rem;
    font-weight: 300;
    color: #7a1655;
    text-align: center;
    margin-bottom: 3rem;
}


section > p {
    width: 75%;
    margin: auto;
    font-weight: 300;
    font-size: 1.625rem;
    line-height: 2.8rem;
    letter-spacing: 0.0625rem;
    text-align: justify;
}

footer {
    margin-top: 6rem;
    padding: 1rem 0 1.875rem;
    background-color: #7a1655;
    color: #fff;
}

footer div {
    width: 87%;
    margin: auto;
}

footer h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

