html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    /* border: 1px dashed blue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    margin-bottom: 2.375rem;
}

.header {
    background-color: #145f94;
    color: white;
    text-align: left;
    padding: 1rem 1.2rem;
}

div.box .header:only-child {
    padding: 1.875rem;
    text-align: center;
}

div.header>h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

.box {
    border: 1px solid #145f94;
    margin-bottom: 1.2rem;
}

.content {
    background-color: #f6f6f6;
    font-size: 1.025rem;
    padding: 1.625rem;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
    word-spacing: 0.02rem;
    text-align: justify;
}

main {
    width: 83.25%;
    margin: auto;
    margin-bottom: 5rem;
}

div.left {
    width: 62%;
    float: left;
}

div.right {
    width: 36.5%;
    float: right;
}

div.clear {
    clear: both;
}

@media (max-width: 800px){
    div.left{
        width: 100%;
        float: none;
    }
    div.right{
        width: 100%;
        float: none;
    }
}

