* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    /* font-family: 'Yantramanav', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: sans-serif;
    height: 97vh;

    /* Both these are used in whole page, so let it inherit */
    color: #fff;
    text-transform: uppercase;
}


/* Background Styling */

.background {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0,0.25)) ,url(../images/background-image.png) ;
    background-position: right top;
    background-size: cover;
}

/* Other way to create a layer over the background */

/* .background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
} */

/* Header Style Starts */

header {
    padding-top: 2.8rem;
}

/* h1, h2, h3 {
    text-transform: uppercase;
} */

.line {
    width: 2rem;
    border: 1px solid #fff;
}

/* Hamburger Navigation Menu Styling starts */

.hamburger-btn {
    background-color: #000;
    width: 5.625rem;
    height: 5.625rem;
    position: absolute;
    display: flex;
    flex-flow: column;
    row-gap: .4rem;
    justify-content: center;
    align-items: center;
}

.hamburger-btn:hover  {
    cursor: pointer;
}

.nav-container {
    background-color: #000;
    position: absolute;
    top: 135px;
    padding: 2rem 0 1.5rem 0;
    border-radius: 0 2rem 2rem 0;
    font-family: 'Roboto Condensed', sans-serif;
    transform: translateX(-100%);

    transition: all 1s;
}

.image-container {
    height: 4.8rem;
}

.image-container > img {
    height: 100%;
}

.nav-container li:first-child {
    /* Keep the hat at some rotated degree initially */
    transform: rotate(-180deg);
    transition: transform 1s;
}

/* Rotating the hat to normal angle in 2 cases - button and the navbar itself */
.hamburger-btn:hover + nav div.nav-container li:first-child, 
.nav-container:hover li:first-child {
    transform: rotate(0);
}

/* Bring the hidden navbar to the view in 2 cases */
.hamburger-btn:hover + nav div.nav-container,
.nav-container:hover {
    transform: translateX(0%);
}

ul {
    list-style: none;
    width: 17rem;
}

ul a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: .6rem 0;
    margin-bottom: .2rem;
    font-size: 1.3rem;
}

/* ul li a:visited {
    background-color: #a42e2e;
    border: 1px solid gray;
} */

ul li:hover:not(li:first-child) {
    background-color: rgba(100, 100, 100, 0.5);
}


ul li:first-child {
    padding-bottom: .4rem;
}

/* Hamburger Navigation Menu Styling ends */

h1 {
    font-size: 5.2rem;
    text-align: center;
    letter-spacing: .26rem;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-size: 2.5rem;
    position: absolute;
    top: 190px;
    right: -110px;
    text-orientation: upright;
    transform: rotate(-90deg);
    font-family: 'Roboto Condensed', sans-serif;
}

.large {
    font-size: 8rem;
    font-weight: 700;
    font-family: sans-serif;
}

/* Header styling ends */

/* Main Content styling starts */

main {
    margin-top: 32rem;
}

h2 {
    font-size: 7rem;
    text-align: center;
    width: 50%;
    margin: auto;
    line-height: 100%;
}

.extra-large {
    font-size: 9rem;
    letter-spacing: 5px;
}

/* Main content styling ends */

/* Footer Styling */

.social-icons {
    font-size: 2.3rem;
    text-align: right;
    margin: 0 0 2rem 0;
}

.social-icons > i {
    margin-right: 1.2rem;
}


