* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

div.header>h1 {
    font-size: 1.4rem;
}

header {
    margin-bottom: 2.375rem;
}

.header {
    background-color: #145f94;
    color: #fff;
    text-align: left;
    padding: 1rem 1.625rem;
    font-size: 1.2rem;
}

.header > * {
    font-weight: 500;
}

div.box .header:only-child {
    padding: 1.875rem;
    text-align: center;
}

.box {
    border: 1px solid #145f94;
    margin-bottom: 1.2rem;
}

.content {
    background-color: #f6f6f6;
    font-size: 1.025rem;
    padding: 1.625rem;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
    word-spacing: 0.02rem;
    text-align: justify;
}

main {
    width: 83.25%;
    margin: 0 auto 5rem;
}

div.left {
    width: 62%;
    float: left;
}

div.right {
    width: 36.5%;
    float: right;
}

div.clear {
    clear: both;
}